<%= stylesheet_link_tag "users/quick", :media => "all"%>
<%= render 'shared/iphone_menu'%>
<%= render 'shared/side_bar'%>

<table class="quick_table" style="width: 70%;">
 <tr>
  <th></th>
  <th>店名</th>
  <th>住所</th>
  <th>混雑</th>
  <th>時間</th>
 </tr>
<% @seats.each do |seat| %>
  <tr class="quick">
    <td>
      <%= attachment_image_tag seat.shop, :shop_image, :fill, 100, 100, fallback: "no_image.jpg"%>
    </td>
    <td>
      <%= link_to shop_path(seat.shop.id) do%>
      <%= seat.shop.shop_name%>
      <% end %>
    </td>
    <td>
      <%= seat.shop.prefecture.name%><%= seat.shop.address_city%><%= seat.shop.address_street%><%= seat.shop.address_street%>
    </td>
    <td>
      <%= seat.likes.count%>
    </td>
    <td>
      <%= seat.time.strftime("%d日%H時%M分") %>
    </td>
  </tr>
<% end %>
</table>