<% @seats.each do |seat| %>
<%= seat.time %>
<%= seat.count %>
<%= seat.shop.shop_name %>
<% if seat.fill == false %>
<p>まだ空いてる</p>
<%= link_to "この時間に行きたい人", like_user_path(seat.id) %>
<%= link_to "リクエストを送る", new_quick_path(seat.id) %>
<% if seat.liked_by?(current_user) %>
    <td>
      <%= link_to fav_seats_path(seat), class: "fav", remote: true do %>
        <i class="fa fa-heart" id="<%= seat.id %>"></i>
      <% end %>
    </td>
  <% else %>
    <td>
      <%= link_to fav_seats_path(seat), class: "fav", remote: true do %>
        <i class="fa fa-heart-o" id="<%= seat.id %>"></i>
      <% end %>
    </td>
  <% end %>
<% else %>
<p>埋まりました</p>
<% end %>

<% end %>