<%= stylesheet_link_tag "users/seat", :media => "all"%>
<% if @seat.errors.any? %>
  <div id="error_esplanation" class="alert alert-danger">
    <ul>
      <p style="font-size: 20px">You have
      <%= @seat.errors.full_messages.count %>errors.</p>
      <% @seat.errors.full_messages.each do |message|%>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div id="overlay"></div>

<h1>TavhU Events</h1>
  <%= month_calendar(attribute: :time, eventes: @seats) do |date, seats| %>
    <%= date.strftime("%Y年%m月%d日")%>
    <div class="button">
      <button class="open_new" id="<%= date %>">登録</button>
      <% @date = date %>
      <%= render 'new'%>
    <% @seat_times.each do |seat|%>
    <% if seat == date%>
      <button class="open" id="<%= date %>">一覧</button>
      <button class="open_fill" id="<%= date %>">fill</button>
    <% end %>
    <% end %>
    </div>
  <% end %>

<% @seat_times.each do |seat_time| %>
<div id="modalWindow<%= seat_time %>" class="modal">
  <h3><%= seat_time.strftime("%Y年%m月%d日") %></h3>
  <button class="close" id="<%= seat_time %>">close</button>
  <table class="quick_table">
  <% @seats.where(fill: false).each do |seat| %>
    <tr class="quick">
    <% if seat.time.to_date == seat_time %>
      <td><%= seat.time.strftime("%H時%M分") %></td>
      <td><%= seat.count %>名様</td>
      <td><%= seat.likes.count %></td>
      <td>空席</td>
      <td>
        <%= link_to (seat_destroy_path(seat.id)), method: :delete do %>
          <button class="delete_btn">削除</button>
        <% end %>
      </td>
      <td>
        <ul>
        <% if seat.privilege_id.present? %>
          <li><%= Privilege.find(seat.privilege_id).content %></li>
        <% end %>
        <% if seat.privilege_secound_id.present? %>
          <li><%= Privilege.find(seat.privilege_secound_id).content %></li>
        <% end %>
        <% if seat.privilege_third_id.present? %>
          <li><%= Privilege.find(seat.privilege_third_id).content %></li>
        <% end %>
        </ul>
      </td>
      <% end %>
    </tr>
    <% end %>
  </table>
</div>
<% end %>



<% @seat_times.each do |seat_time| %>
<div id="fill<%= seat_time %>" class="modal">
  <h3><%= seat_time.strftime("%Y年%m月%d日") %></h3>
  <button class="close_fill" id="<%= seat_time %>">close</button>
  <table class="quick_table">
  <% @seats.where(fill: true).each do |seat| %>
    <tr class="quick">
    <% if seat.time.to_date == seat_time %>
      <td><%= seat.time.strftime("%H時%M分") %></td>
      <td><%= seat.count %>名様</td>
      <td><%= seat.likes.count %></td>
      <td>
        <%= link_to (approval_seat_path(id: @shop.id, seat_id: seat.id)) do %>
          <button class="show_btn">詳細</button>
        <% end %>
      </td>
      <td>
        <ul>
        <% if seat.privilege_id.present? %>
          <li><%= Privilege.find(seat.privilege_id).content %></li>
        <% end %>
        <% if seat.privilege_secound_id.present? %>
          <li><%= Privilege.find(seat.privilege_secound_id).content %></li>
        <% end %>
        <% if seat.privilege_third_id.present? %>
          <li><%= Privilege.find(seat.privilege_third_id).content %></li>
        <% end %>
        </ul>
      </td>
      <% end %>
    </tr>
    <% end %>
  </table>
</div>
<% end %>
