<%= stylesheet_link_tag "form/signup", :media => "all" %>


<div class="signup">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

  <h2>Signup</h2>

  <%= devise_error_messages! %>
  <%= f.label :email, "Email"%>
  <div class="field">
    <%= f.email_field :email, autofocus: true, autocomplete: "email"%>
  </div>

  <%= f.label :phone_number, "Phone Number"%>
  <div class="field">
    <%= f.text_field :phone_number %>
  </div>

  <%= f.label :password, "Password"%>
  <div class="field">
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <%= f.label :password_confirmation, "Password確認"%>
  <div class="field">
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <%= f.label :name, "UserName"%>
  <div class="field">
    <%= f.text_field :name, autocomplete: "name", placeholder: "アプリ上で使用されます" %>
  </div>

  <%= f.label :introduce, "Introduce" %>
  <div class="field">
    <%= f.text_area :introduce, autocomplete: "introduce", placeholder: "自己紹介"%>
  </div>

  <%= f.label :profile_image, "プロフィール画像" %>
  <div class="field">
    <%= f.attachment_field :profile_image %>
  </div>


  <div>
    <%= f.submit "Sign up" %>
  </div>
<% end %>
<%= render "devise/shared/links" %>
<%= link_to "Authors Sign up", new_author_registration_path %>
</div>
  <script>

    function fadeOut() {

    TweenMax.to(".myBtn", 1, {
      y: -100,
      opacity: 0
    });

    TweenMax.to(".screen", 2, {
      y: -400,
      opacity: 0,
      ease: Power2.easeInOut,
      delay: 2
    });

    TweenMax.from(".overlay", 2, {
            ease: Power2.easeInOut
    });

    TweenMax.to(".overlay", 2, {
      delay: 2.6,
      top: "-110%",
      ease: Expo.easeInOut
    });

       TweenMax.to(".overlay-2", 2, {
            delay: 3,
            top: "-110%",
            ease: Expo.easeInOut
       });

       TweenMax.from(".signup", 2,{
            delay: 3.2,
            opacity: 0,
            ease: Power2.easeInOut
       });

       TweenMax.to(".signup", 2, {
            opacity: 1,
            y: -300,
            delay: 3.2,
            ease: Power2.easeInOut
       });

    }

  </script>
