<ul class="nav">
<li><a class="iphone_ver">Home</a>
</li>
<li><a class="iphone_ver">Prefecture</a>
<ul>
<li><a>北海道,東北</a>
	<ul>
	<% @tohokus.each do |prefecture| %>
		<li><%= link_to (prefecture_path(id: prefecture.code)) do %><%= prefecture.name %><% end %></li>
	<% end %>
	</ul>
</li>
<li><a>関東</a>
	<ul>
	<% @kantous.each do |prefecture| %>
		<li><%= link_to (prefecture_path(id: prefecture.code)) do %><%= prefecture.name %><% end %></li>
	<% end %>
	</ul>
</li>
<li><a>中部</a>
	<ul>
	<% @tyubus.each do |prefecture| %>
		<li><%= link_to (prefecture_path(id: prefecture.code)) do %><%= prefecture.name %><% end %></li>
	<% end %>
	</ul>
</li>
<li><a>関西</a>
	<ul>
	<% @kansais.each do |prefecture| %>
		<li><%= link_to (prefecture_path(id: prefecture.code)) do %><%= prefecture.name %><% end %></li>
	<% end %>
	</ul>
</li>
<li><a>中国</a>
	<ul>
	<% @tyugokus.each do |prefecture| %>
		<li><%= link_to (prefecture_path(id: prefecture.code)) do %><%= prefecture.name %><% end %></li>
	<% end %>
	</ul>
</li>
<li><a>四国</a>
	<ul>
	<% @sikokus.each do |prefecture| %>
		<li><%= link_to (prefecture_path(id: prefecture.code)) do %><%= prefecture.name %><% end %></li>
	<% end %>
	</ul>
</li>
<li><a>九州</a>
	<ul>
	<% @kyusyus.each do |prefecture| %>
		<li><%= link_to (prefecture_path(id: prefecture.code)) do %><%= prefecture.name %><% end %></li>
	<% end %>
	</ul>
</li>
</ul>
</li>
<li><a class="iphone_ver">Genres</a>
<ul>
<% @genres.each do |genre| %>
<li><%= link_to (genre_path(id: genre.id)) do %><%= genre.genre_name %><% end %></li>
<% end %>
</ul>
</li>
<li><a class="iphone_ver">Stations</a>
<ul>
<li>
	<a>
		<%= form_tag(search_station_path, :method => 'get') do %>
			<%= text_field_tag :search %>
			<%= submit_tag 'Search', :station_name => nil %>
		<% end %>
	</a>
</li>
</ul>
</li>
<li><a class="iphone_ver">NearShops</a>
<ul>
<li>
	<a>
		<button class="find_btn" onclick="getPosition();">Find!!</button>
	</a>
</li>
</ul>
</li>
</ul>

<script>

    // 現在地取得処理
    function getPosition() {
      // 現在地を取得
      navigator.geolocation.getCurrentPosition(
        // 取得成功した場合
        function(position) {
            window.location.href = "/shops/search_location?latitude="+position.coords.latitude+"&longitude="+position.coords.longitude
            // $.ajax({
            //   url: "/shops/search_location",
            //   type: "GET",
            //   dataType: 'html',
            //   data: {latitude : position.coords.latitude,
            //         longitude : position.coords.longitude},
            // });
        },
        // 取得失敗した場合
        function(error) {
          switch(error.code) {
            case 1: //PERMISSION_DENIED
              alert("位置情報の利用が許可されていません");
              break;
            case 2: //POSITION_UNAVAILABLE
              alert("現在位置が取得できませんでした");
              break;
            case 3: //TIMEOUT
              alert("タイムアウトになりました");
              break;
            default:
              alert("その他のエラー(エラーコード:"+error.code+")");
              break;
          }
        }
      );
    }
  </script>
	<script>
    function getPositionquick() {
      navigator.geolocation.getCurrentPosition(
        function(position) {
            window.location.href = "/imasugu/shops?latitude="+position.coords.latitude+"&longitude="+position.coords.longitude
        },
        // 取得失敗した場合
        function(error) {
          switch(error.code) {
            case 1: //PERMISSION_DENIED
              alert("位置情報の利用が許可されていません");
              break;
            case 2: //POSITION_UNAVAILABLE
              alert("現在位置が取得できませんでした");
              break;
            case 3: //TIMEOUT
              alert("タイムアウトになりました");
              break;
            default:
              alert("その他のエラー(エラーコード:"+error.code+")");
              break;
          }
        }
      );
    }
	</script>