		<div class="shop_all">
					<% @shops.each do |shop| %>
				<div class="shop_box">
					<div class="shop_head">
						<div class="shop_images">
						<div class="mainvisual">
							<div class="mainvisual-inner container">
								<div class="swiper-container">
									<div class="swiper-wrapper">
									<% if shop.shop_image.present?%>
										<div class="swiper-slide"><%= attachment_image_tag shop, :shop_image %></div>
									<% else %>
										<div class="swiper-slide"><%= image_tag '/images/no_image.jpg', class: "no_image"%></div>
									<% end %>
									<% if shop.images.present?%>
										<% shop.images.each do |image|%>
										<div class="swiper-slide"><%= attachment_image_tag image, :image %></div>
										<% end %>
									<% end %>
									</div><!-- .swiper-wrapper -->

									<div class="swiper-pagination"></div>
								
								</div><!-- .swiper-container -->
							</div><!-- .mainvisual-inner -->
						</div>
						<script>
								var swiper = new Swiper('.swiper-container', {
									effect: 'coverflow',
									grabCursor: true,
									centeredSlides: true,
									slidesPerView: 'auto',
									coverflowEffect: {
										rotate: 50,
										stretch: 0,
										depth: 100,
										modifier: 1,
										slideShadows : true,
									},
									pagination: {
										el: '.swiper-pagination',
									},
								});
							</script>
						</div>
						<div class="iphone_shop_name">
						<%= link_to (shop_path(shop.id)), style: "text-decoration: none; color: rgb(82, 84, 86);" do%>
							<%= shop.shop_name%>
						<% end %>
						</div>
						<div class="shop_name_station">
							<div class="shop_name">
							<%= link_to (shop_path(shop.id)), style: "text-decoration: none; color: rgb(82, 84, 86);" do %>
								<p><%= shop.shop_name %></p>
							<% end %>
							</div>
							<div class="station">
								<p>最寄駅： <%= shop.station.station_name %></p>
							</div>
							<div class="genre">
								<p>ジャンル： <%= shop.genre.genre_name %></p>
							</div>
							<div class="address">
								<p>〒<%= shop.postcode %> <%= shop.prefecture.name %><%= shop.address_city %><%= shop.address_street %></p>
							</div>
								<% if shop.favorite_by?(current_user) %>
										<%= link_to fav_shops_path(shop), class: "fav", remote: true do %>
										<i class="fa-thumbs-up" id="<%= shop.id %>"></i>
									<% end %>
								<% else %>
										<%= link_to fav_shops_path(shop), class: "fav", remote: true do %>
										<i class="far fa-thumbs-up" id="<%= shop.id %>"></i>
									<% end %>
								<% end %>
						</div>
					</div>
					<div class="shop_info">
				   <%= shop.shop_info %>
				  </div>
			  </div>
				<% end %>
		</div>

<%= paginate @shops%>
