<%= stylesheet_link_tag "swiper"%>
<%= stylesheet_link_tag "nomiya/index", :media => "all" %>
<%= render 'shared/side_bar' %>
<%= render 'shared/iphone_menu'%>

<%= render 'prefecture'%>
<%# <button class="find_btn" onclick="getPositionquick();">Find!!</button> %>
		<div>
			<h1>TaverN</h1>
			<p class="hitokoto">行きたいところを探そう</p>
		</div>
		<div class="top_image">
			<div class="scalton">
				<h2>Meeting lots of different people will make you grow.</h2>
				<p>There is more to life than increasing its speed.<br>
						My life didn’t please me, so I created my life.<br>
						The future starts today, not tomorrow.Life is like riding a bicycle. To keep your<br> balance you must keep moving.
						Happiness depends upon ourselves.The most important thing in communication is hearing what isn't said.<br>
						Experience is not what happens to you. It is what you do with what happens to you.<br>
						Darkness cannot drive out darkness; only light can do that. Hate cannot drive out hate; only love can do that.
				</p>
			</div>
		</div>
<%= render 'shop_all'%>