<%= stylesheet_link_tag "nomiya/index", :media => "all" %>
<%= render 'shared/side_bar' %>

<ul class="nav">
<li><a href="#">Home</a>
</li>
<li><a href="#">Prefecture</a>
<ul>
<li><a>北海道,東北</a>
	<ul>
	<% @tohokus.each do |prefecture| %>
		<li><%= link_to (prefecture_path(id: prefecture.code)) do %><%= prefecture.name %><% end %></li>
	<% end %>
	</ul>
</li>
<li><a>関東</a>
	<ul>
	<% @kantous.each do |prefecture| %>
		<li><%= link_to (prefecture_path(id: prefecture.code)) do %><%= prefecture.name %><% end %></li>
	<% end %>
	</ul>
</li>
<li><a>中部</a>
	<ul>
	<% @tyubus.each do |prefecture| %>
		<li><%= link_to (prefecture_path(id: prefecture.code)) do %><%= prefecture.name %><% end %></li>
	<% end %>
	</ul>
</li>
<li><a>関西</a>
	<ul>
	<% @kansais.each do |prefecture| %>
		<li><%= link_to (prefecture_path(id: prefecture.code)) do %><%= prefecture.name %><% end %></li>
	<% end %>
	</ul>
</li>
<li><a>中国</a>
	<ul>
	<% @tyugokus.each do |prefecture| %>
		<li><%= link_to (prefecture_path(id: prefecture.code)) do %><%= prefecture.name %><% end %></li>
	<% end %>
	</ul>
</li>
<li><a>四国</a>
	<ul>
	<% @sikokus.each do |prefecture| %>
		<li><%= link_to (prefecture_path(id: prefecture.code)) do %><%= prefecture.name %><% end %></li>
	<% end %>
	</ul>
</li>
<li><a>九州</a>
	<ul>
	<% @kyusyus.each do |prefecture| %>
		<li><%= link_to (prefecture_path(id: prefecture.code)) do %><%= prefecture.name %><% end %></li>
	<% end %>
	</ul>
</li>
</ul>
</li>
<li><a>Genres</a>
<ul>
<% @genres.each do |genre| %>
<li><%= link_to (genre_path(id: genre.id)) do %><%= genre.genre_name %><% end %></li>
<% end %>
</ul>
</li>
<li><a>Stations</a>
<ul>
<li><a href="#">d1</a></li>
<li><a href="#">d1</a>
<ul>
<li><a href="#">d2</a></li>
<li><a href="#">d2</a>
<ul class="left">
<li><a href="#">d3</a></li>
<li><a href="#">d3</a></li>
</ul>
</li>
</ul>
</li>
</ul>
</li>
<li><a href="#">Contact</a>
<ul>
<li><a href="#">e1</a>
<ul class="left">
<li><a href="#">e2-1</a></li>
<li><a href="#">e2-1</a></li>
</ul>
</li>
<li><a href="#">e1</a>
<ul class="left">
<li><a href="#">e2-2</a></li>
<li><a href="#">e2-2</a></li>
</ul>
</li>
</ul>
</li>
</ul>
		<div>
			<h1>TaverN</h1>
			<p class="hitokoto">行きたいところを探そう</p>
		</div>
		<div class="top_image">
			<div class="scalton">
				<h2>Meeting lots of different people will make you grow.</h2>
				<p>There is more to life than increasing its speed.<br>
						My life didn’t please me, so I created my life.<br>
						The future starts today, not tomorrow.Life is like riding a bicycle. To keep your<br> balance you must keep moving.
						Happiness depends upon ourselves.The most important thing in communication is hearing what isn't said.<br>
						Experience is not what happens to you. It is what you do with what happens to you.<br>
						Darkness cannot drive out darkness; only light can do that. Hate cannot drive out hate; only love can do that.
				</p>
			</div>
		</div>
		<div class="shop_all">
					<% @shops.each do |shop| %>
				<div class="shop_box">
					<div class="shop_head">
						<div class="shop_image">
								<%= attachment_image_tag shop, :shop_image, fallback: "no_image.jpg" %>
						</div>
						<div class="shop_name_station">
							<div class="shop_name">
							<%= link_to (shop_path(shop.id)) do %>
								<p><%= shop.shop_name %></p>
							<% end %>
							</div>
							<div class="station">
								<p>最寄駅： <%= shop.station.station_name %></p>
							</div>
							<div class="genre">
								<p>ジャンル： <%= shop.genre.genre_name %></p>
							</div>
							<div class="address">
								<p>〒<%= shop.postcode %> <%= shop.prefecture.name %><%= shop.address %><%= shop.address_street %></p>
							</div>
								<% if shop.favorite_by?(current_user) %>
										<%= link_to fav_shops_path(shop), class: "fav", remote: true do %>
										<i class="fa-heart" id="<%= shop.id %>"></i>
									<% end %>
								<% else %>
										<%= link_to fav_shops_path(shop), class: "fav", remote: true do %>
										<i class="fa-heart-o" id="<%= shop.id %>"></i>
									<% end %>
								<% end %>
								<%= shop.favorites.count %>
						</div>
					</div>
					<div class="shop_info">
				   <p><%= shop.shop_info %></p>
				  </div>
			  </div>
				<% end %>
		</div>

<%= paginate @shops, class: "pagenate" %>