<%= stylesheet_link_tag "nomiya/index", :media => "all" %>
<%= render 'shared/side_bar' %>


	<div class="container">
		<div class="row">
		<div>
			<h1>aaaaaa</h1>
			<p class="hitokoto">ああああああああああ</p>
		</div>
		<div class="shop_all">
					<% @shops.each do |shop| %>
				<div class="shop_box md-2">
					<div class="shop_image">
					 <%= link_to (shop_path(shop.id)) do %>
				   <%= attachment_image_tag shop, :shop_image, fallback: "no_image.jpg" %>
					 <% end %>
			    </div>
					<div class="shop_jouhou">
					<div class="shop_name">
				   <p><%= shop.shop_name %></p>
				  </div>
					<div class="shop_info">
				   <p><%= shop.shop_info %></p>
				  </div>
					<% if shop.favorite_by?(current_user) %>
					<%= link_to fav_shops_path(shop), class: "fav", remote: true do %>
					<i class="fa-heart" id="<%= shop.id %>"></i>
					<% end %>
					<% else %>
					<%= link_to fav_shops_path(shop), class: "fav", remote: true do %>
					<i class="fa-heart-o" id="<%= shop.id %>"></i>
					<% end %>
					<% end %>
					<%= shop.favorites.count %>
				</div>
			</div>
				<% end %>
		    </div>
			</div>
		</div>
