<% if @shop.errors.any? %>
  <div id="error_esplanation" class="alert alert-danger">
    <ul>
      <p style="font-size: 20px;">You have
      <%= @shop.errors.full_messages.count %>errors.</p>
      <% @shop.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for(@shop, url: shops_path) do |f| %>
<p>image</p>
<%= f.attachment_field :shop_image %>
<p>name</p>
<%= f.text_field :shop_name %>
<p>info</p>
<%= f.text_area :shop_info %>
<%= f.submit "create" %>
<% end %>
