<%= stylesheet_link_tag "nomiya/show", :media => "all" %>
<%= render 'shared/side_bar' %>


<div class="media">
	<div class="shop_image">
		<%= attachment_image_tag @shop, :shop_image,
		 fallback: "no_image.jpg" %>
	</div>
	<div class="shop_jouhou">
		<div class="shop_name">
	    <p><%= @shop.shop_name %></p>
		</div>
		<div class="shop_info">
		  <p><%= @shop.shop_info %></p>
	  </div>
			<%= @shop.genre.genre_name %>
			<%= @shop.station.station_name %>
	</div>
        <%= render 'favorites/favorite' %>
</div>

<%= link_to "行きたい人",  fav_user_path %>
<%= link_to "Back", shops_path %>
<%= link_to "予約", new_reservation_path(@shop.id) %>
