<li class="notification_table">
  <% if notification.notified_type == "フォロー" %>
    <%= notification.notified_by.name %>さんがあなたを<%= notification.notified_type %>をしました
  <% elsif notification.notified_type == "リクエストを承認" %>
    <%= notification.notified_by.name %>さんが<%= notification.notified_type %>しました
  <% else %>
    <%= notification.notified_by.name %>さんから<%= notification.notified_type%>が届いています
  <% end %>
</li>
