<h1><%= @shop.shop_name %></h1>
<% @reservations.each do |reservation| %>
<%= reservation.start_time %>
<%= reservation.member_count %>
<%= reservation.user.name %>
<% if reservation.approval == false %>
<%= link_to "承認", reserve_update_path(shop_id: @shop.id, reserve_id: reservation.id), method: :patch %>
<%= link_to "非承認", reserve_delete_path(shop_id: @shop.id, reserve_id: reservation.id), method: :delete %>
<% else %>
<p>承認済み</p>
<% end %>
<% end %>