<h1><%= @shop.shop_name %></h1>
<% @privileges.each do |privilege| %>
<%= privilege.content %>
<% end %>
<h2>特典追加</h2>
    <%= form_for @privilege, url: create_privilege_path(id: @shop.id) do |f| %>
    <%= f.label :content, "特典"%>
    <%= f.text_area :content %>
    <%= f.submit "追加"%>
    <% end %>