<%= stylesheet_link_tag "users/chat", :media => "all"%>
<%= render 'shared/iphone_menu'%>
<%= render 'shared/side_bar'%>

<div id="chat">
    <section class="message_box">
      <div id="messages">
        <%= render @messages %>
      </div>
    </section>
    <script type="text/javascript">
      var height = 0;
      $("div.message").each( function() {
        height += ($(this).height());
      });
      $('section.message_box').scrollTop(height);
    </script>
</div>
  <div class="message_form">
    <%= render 'messages/message_form',{from_user: current_user, to_user: @user, room_id: @room_id} %>
  </div>