<%= stylesheet_link_tag "nomiya/members", :media => "all" %>
<%= render 'shared/side_bar/' %>
<%= link_to "Back", :back %>
<table class="users">
  <tr>
    <th> image </th><th> name </th>
  </tr>
<% @users.each do |user| %>
<tr class="user">
  <td class="user_image">
    <%= link_to (user_path(user.id)) do %>
    <%= attachment_image_tag user, :profile_image, :fill, 100, 100, fallback: "no_image.jpg" %>
    <% end %>
  </td>
  <td class="user_name">
    <%= user.name %>
  </td>
  <td>
    <button id="chat_open">CHAT</button>
  </td>
  <td>
    <%= link_to "chat", user_chat_path(user_id: user.id) %>
  </td>
<div id="chat">
<button id="chat_close">Close</button>
    <section class="message_box">
      <div id="messages">
        <%= render @all_messages %>
      </div>
    </section>
    <script type="text/javascript">
      var height = 0;
      $("div.message").each( function() {
        height += ($(this).height());
      });
      $('section.message_box').scrollTop(height);
    </script>
    <div class="message_form">
     <%= render 'messages/message_form',
       {from_user: current_user, to_user: user, room_id: @room_id} %>
    </div>
</div>
</tr>
<% end %>
</table>



