<%= stylesheet_link_tag "users/quick", :media => "all" %>
<%= render 'shared/side_bar' %>

<table class="quick_table">
  <% @quicks.each do |quick| %>
  <tr class="quick">
    <td class="quick_shop">
      <%= quick.seat.shop.shop_name %>
    </td>
    <td class="today">
      <%= quick.seat.time.strftime("%m月%d日 %H時%M分") %>
    </td>
    <td>
      <%= User.find(quick.friend_id).name %>さんへのリクエスト。
    </td>
    <td>
    <% if quick.request == false %>
      承認されていません
    <% else %>
      <i class="fas fa-star" style="color: #ff0000;"></i>"当日は楽しんでください！
    <% end %>
    </td>
    <td>
      <%= link_to (quick_show_path(id: current_user.id, quick_id: quick.id)) do%>
        <button class="show_btn">詳細</button>
      <% end %>
    </td>
    <% if quick.seat.time < Time.zone.now %>
    <td>
      <%= link_to (quick_delete_path(id: current_user.id, quick_id: quick.id)), method: :delete do %>
        <button class="delete_btn">削除</button>
      <% end %>
    </td>
    <% end %>
  </tr>
  <% end %>
</table>