<%= stylesheet_link_tag "swiper"%>
<%= stylesheet_link_tag "users/show", :media => "all" %>
<%= render 'shared/side_bar' %>
<%= render 'shared/iphone_menu'%>


<div class="profile">
  <div class="profile_image">
    <%= render 'swiper'%>
  </div>
  <div class="profile_info">
    <div class="edit">
      <div class="name">
        <%= @user.name %>
      </div>
      <%= render 'follow_form' %>
      <% if @user.id == current_user.id %>
      <div class="editandmatching">
        <div class="editbutton">
          <%= link_to (edit_user_path(@user)), class: "btn" do %>
          <i class="fa fa-edit"></i>
          <% end %>
        </div>
        <button class="btn place" onclick="getPosition();"><i class="fa fa-map-pin"></i></button>
        <div style="float: right">
          <%= link_to (favorite_shops_user_path(@user)), class: "btn shop" do%>
            <i class="fa fa-star"></i>
          <% end %>
        </div>
        <div class="matching">
          <%= link_to (match_user_path(@user)), class: "btn match" do %>
          <i class="fa fa-users"></i>
          <% end %>
        </div>
      <%= render 'stats' %>
      </div>
      <% end %>
      <div class="introduction">
        <p><%= @user.introduce %></p>
      </div>
    </div>
  </div>
</div>

<% if @user.id == current_user.id%>
<script>
    if (navigator.geolocation) {
      alert("この端末では位置情報が取得できます");
    } else {
      alert("この端末では位置情報が取得できません");
    }

    function getPosition() {
      navigator.geolocation.getCurrentPosition(
        function(position) {
            alert("Success!");
            $.ajax({
              url: "/location/post",
              type: "POST",
              data: {latitude : position.coords.latitude,
                    longitude : position.coords.longitude},
              dataType: 'json'
            });
        },
        function(error) {
          switch(error.code) {
            case 1: //PERMISSION_DENIED
              alert("位置情報の利用が許可されていません");
              break;
            case 2: //POSITION_UNAVAILABLE
              alert("現在位置が取得できませんでした");
              break;
            case 3: //TIMEOUT
              alert("タイムアウトになりました");
              break;
            default:
              alert("その他のエラー(エラーコード:"+error.code+")");
              break;
          }
        }
      );
    }
</script>
<% end %>