<%= stylesheet_link_tag "swiper"%>
<%= stylesheet_link_tag "users/show", :media => "all" %>
<%= render 'shared/side_bar' %>


<div class="profile">
  <div class="profile_image">
    <%= render 'swiper'%>
  </div>
  <div class="profile_info">
    <div class="edit">
      <div class="name">
        <%= @user.name %>
      </div>
      <%= render 'follow_form' %>
      <% if @user.id == current_user.id %>
      <div class="editandmatching">
        <div class="editbutton">
          <%= link_to (edit_user_path(@user)), class: "btn" do %>
          <i class="fa fa-edit"></i>
          <% end %>
        </div>
        <div class="matching">
          <%= link_to (match_user_path(@user)), class: "btn match" do %>
          <i class="fa fa-users"></i>
          <% end %>
        </div>
      <%= render 'stats' %>
      </div>
      <% end %>
    <div class="introduction">
      <p><%= @user.introduce %></p>
    </div>
    </div>
  </div>
</div>
