<%= stylesheet_link_tag "users/show", :media => "all" %>
<%= render 'shared/side_bar' %>

<div id="overlay"></div>

<div class="profile">
  <div class="profile_image">
    <%= attachment_image_tag @user, :profile_image, :fill, 300, 300, fallback: "noimage.png"%>
  </div>
  <div class="profile_info">
    <div class="edit">
      <div class="name">
        <%= @user.name %>
      </div>
      <%= render 'follow_form' %>
      <% if @user.id == current_user.id %>
      <div class="editandmatching">
        <div class="editbutton">
          <%= link_to (edit_user_path(@user)), class: "btn" do %>
          <i class="fa fa-edit"></i>
          <% end %>
        </div>
        <div class="matching">
          <%= link_to (match_user_path(@user)), class: "btn match" do %>
          <i class="fa fa-users"></i>
          <% end %>
        </div>
      <%= render 'stats' %>
      </div>
      <% end %>
    <div class="introduction">
      <p><%= @user.introduce %></p>
    </div>
    </div>
  </div>
  <button id="open">予約一覧</button>
  <div id="modalWindow">
    <button id="clo">close</button>
    <table>
      <tr>
        <th>店名</th>
        <th>日時</th>
        <th>人数</th>
      </tr>
      <% @user.reservations.each do |r| %>
      <tr>
          <td><%= r.shop.shop_name%></td>
          <td><%= r.start_time %></td>
          <td><%= r.member_count%></td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
