<div id="MenuIcon">
  <div id="MenuLine"></div>
</div>
<div id="MainMenu">
  <div id="logo">
    <img src="/assets/logo_transparent.png" height="150px" width="150px"/>
  </div>
  <nav>
  	<%= render 'notifications/notification_dropdown' %>
  </nav>

  <ul class="abc">
    <li>HOME<div class="line"></div></li>
    <li><%= link_to "Myprofile", user_path(current_user.id) %><div class="line"></div></li>
    <li><%= link_to "NOMIYA", shops_path %><div class="line"></div></li>
    <li><%= link_to "REQUEST", rikuesuto_user_path(current_user.id) %><div class="line"></div></li>
    <li><%= link_to "QUICK", quick_user_path(current_user.id) %><div class="line"></div></li>
    <li><%= link_to "Logout", destroy_user_session_path, method: :delete %><div class="line"></div></li>
  </ul>
  <div id="close">
    <img src="/assets/Close.png" height="30px" width="30px"/>
  </div>
</div>
