<!DOCTYPE html>
<html>
  <head>
    <title>TavhU</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/TweenMax.min.js"></script>
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <script type="text/javascript" src="//jpostal-1006.appspot.com/jquery.jpostal.js"></script>
    <%= favicon_link_tag('favicon.ico') %>
    <meta name="turbolinks-cache-control" content="no-cache">
  </head>

  <body>
  <div class="iphone_all">
    <%= yield %>
    <%# <footer id="footer">©️ 2018- Co.,Ltd</footer> %>
  </div>
  </body>
</html>
